.cabecalho-nav__menu{
    display: flex;
}

.cabecalho-nav__menu--item{
    color: #667085;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 2rem;
    text-decoration: none;
}

.cabecalho-nav__menu--item:hover{
    text-decoration: underline;
}