.cabecalho-botoes__cadastrar{
    background: #8E2424;
    border: .0625rem solid #8E2424;
    border-radius: .5rem;
    color: #FFFFFF;
    cursor: pointer;
    height: 2.75rem;
    width: 7rem;
}

.cabecalho-botoes__cadastrar:hover{
    opacity: 0.8;
}

.cabecalho-botoes__cadastrar:active{
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.1s;
}